<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.MovieLikeMapper">

	<select id="getCountByNumAndId" resultType="int">
		SELECT count(*) FROM movie_like WHERE movie_num = #{movie_num} AND user_id = #{id}
	</select>
				
	<select id="getIsLikeByNumAndId" resultType="int">
		SELECT is_like FROM movie_like WHERE movie_num = #{movie_num} AND user_id = #{id}
	</select>
	
	<insert id="addMovieLike">
		INSERT INTO movie_like (user_id, movie_num, is_like)
		VALUES (#{userId}, #{movie_num}, 1)
	</insert>
	
	<update id="plusMovieLike">
		UPDATE movie_like set is_like = 1
		WHERE movie_num = #{movie_num} AND user_id = #{id}
	</update>
	
	<update id="minusMovieLike">
		UPDATE movie_like set is_like = 0
		WHERE movie_num = #{movie_num} AND user_id = #{id}
	</update>
	
</mapper>






