<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.example.mapper.SattachMapper">

  	<insert id="insertSattach">
		INSERT INTO sattach (uuid, filename, uploadpath, image, pname)
		VALUES (#{uuid}, #{filename}, #{uploadpath}, #{image}, #{pname})
	</insert>


<delete id="deleteByNums">
		DELETE
		FROM bisp.sattach
		WHERE nnum IN
		<foreach collection="numList" item="num" open="(" separator="," close=")">
			#{num}
		</foreach>
	</delete>
  </mapper>