body {
	background: #fff;
	background:url(/imgs/noticeImg.jpg)no-repeat center center;
    background-size: cover;
}
article {    
    padding: 5% 20%;
    margin: 100px;
    background: #fff;
}
#app {
	width: 100%;
	align-items: center;
	background: #fff;
}
.appChat {
	text-align: center;
}
#app h1 {
	margin-top: 200px;
}
#app .chatTextBox {
	text-align: center;
	width: 100%;
	margin: 20px 0;
}
#app form input {
	margin-top: 15px;
}
#app input[type="text"] {
	padding: 0 100px;
}
#app input[type="button"],
#app input[type="submit"] {
	font-size: 20px;
    padding: 5px 30px;
    color: #e0e0e0;
    background: #212121;
    cursor: pointer;
    margin-bottom: 10px;
}
table {
	text-align: center;
	min-width: 100%;
}
table tr th {
    padding: 20px;
}
table tr th::after,
table tr .borderBottom::after,
table tr .borderBottomDate::after {
    content: "";
    display: block;
    position: relative;    
    padding-top: 10px;
    border-bottom: 1px solid #D3D3D3;
     
}
table tr th::after {
    width: 10%;
    left: 15%;
}
.chatImg {
	display: flex;
}
.chatImg img {
	width: 500px;
}
table tr .borderBottom::after {
    width: 100px;
    left: 15%;
}
table tr .borderTitle::after {
    width: 60px;
    left: 0;
}
table tr .borderBottomDate::after {
    width: 300px;
    left: 20%;
}
#likeDiv h1 {
	margin-bottom: 20px;
}

.btns{ 
	left: 50%;
}