body {
   background:url(/imgs/noticeImg.jpg)no-repeat center center;
   background-size: cover;
}
article {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 300px;
   flex-direction: column;
   z-index: 1;
   background: #fff;
   opacity:0.9;
   border-radius: 5px;
   
}
article h1 {
   margin: 20px;
}
table {
   margin: 50px 0 100px 0;
   border: 1px solid #000;
}
table td, table th{
   min-width: 50px;
   border-bottom: 1px solid #000;
}
table th {
   background: #000;
   color: #fff;
}
.newMark {
   display: flex;
   align-items: center;
}
.newMark img {
   width: 15px;
}

form select, form input {
    font-size: 20px;
    padding: 5px 30px;
    color: #e0e0e0;
    background: #212121;
    cursor: pointer;
    margin-bottom: 10px;
}
.pageNumber {
   margin-bottom: 20px;
}
.pageNumber a {
   padding: 3px;
    color: #e0e0e0;
    background: #a0a0a0;
    cursor: pointer;
}
.pageNumber a.active {
   background: #212121;
}
table .title {
   width: 500px;
}
tr td span {
   color: #212121;
}
.deleteBtn {
	cursor: pointer;
}