article {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 500px;
	flex-direction: column;
}
table {
	margin-bottom: 100px;
	border: 1px solid #000;
}
table td, table th{
	min-width: 100px;
	border-bottom: 1px solid #000;
}
table th {
	background: #000;
	color: #fff;
}

form select, form input {
    font-size: 20px;
    padding: 5px 30px;   
    color: #e0e0e0;
    background: #212121;
    cursor: pointer;
    margin-bottom: 10px;
}
.pageNumber a {
	padding: 3px;   
    color: #e0e0e0;
    background: #a0a0a0;
    cursor: pointer;
}
.pageNumber a.active {
	background: #212121;
}
table .title {
	width: 2000px;
}
tr td span {
	color: #212121;
}