* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

Footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px 0px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
Footer .containers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    background: #111;
}
Footer .containers .sec {
    margin-right: 30px;
}
Footer .containers .sec.aboutus {
    width: 40%;
}
Footer .containers h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
Footer .containers h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
Footer p {
    color: #999;
}
Footer .sci {
    margin-top: 20px;
    display: flex;
}
Footer .sci span {
    margin-right: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fff;
}
Footer .sci li {
    list-style: none;
}
Footer .sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    color: white;
}
Footer .sci li a:hover {
    background: #f00;
}
Footer .quickLinks {
    position: relative;
    width: 25%;
}
Footer .quickLinks ul li {
    list-style: none;
    margin-bottom: 4px;
}
Footer .quickLinks ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
Footer .quickLinks ul li a:hover {
    color: #fff;
}
Footer .contact {
    width: calc(35% - 60px);
    margin-right: 0 !important;
}
Footer .contact .info {
    position: relative;
}
Footer .contact .info li {
    display: flex;
    margin-bottom: 16px;
}
Footer .contact .info li span:nth-child(1),
Footer .contact .info li p span{
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
Footer .contact .info li span {
    color: #999;
}
Footer .contact .info li a {
    color: #999;
    text-decoration: none;
    margin-right: 7px;
}
Footer .contact .info li a:hover {
    color: #fff;
}
.copyrightText {
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}

@media screen and (max-width:768px){
    Footer {
        padding: 40px;
    }
    Footer .container {
        flex-direction: column;
    }
    Footer .container .sec {
        margin-right: 0;
        margin-bottom: 40px;
    }
    Footer .container .sec.aboutus,
    Footer .quickLinks,
    Footer .contact {
        width: 100%;
    }
    .copyrightText {
        padding: 8px 40px;
    }
}