* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #000;
    min-height: 100vh;
}
header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
    background-color: black;
}
header.sticky {
    padding: 5px 100px;
    background: #fff;
}

header .logoParent img{
    width: 40px;
    margin-right: 7px;
}
.wrapper {
	background:url(/imgs/movieSeat.jpg)no-repeat center center;
	background-size: cover;
}
header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    position: relative;
    list-style: none;

}
header ul li::after {
    content: "";
    display: block;
    position: relative;
    width: 30px;
    margin-top: 5px;
    border-bottom: 1px solid #808080;
    left: 25%;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}
header ul li a .fas {
    padding-right: 2px;
}
header.sticky .logo,
header.sticky ul li a{
    color: #000;
}

.movie_content {
    position: static;
    width: 100%;
    height: auto;
    display: flex;
  	flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    padding: 0px 100px;
    z-index: 100000;
    color: #fff;
}
.movie_content ul {
    padding: 10px 10px 30px 10px;
    list-style: none;
    text-align: center;
}
.movie_content ul li:nth-child(2) {
    font-weight: bold;
    font-size: 13px;
}
.movie_content ul li:nth-child(3) {
    font-size: 11px;
}
.clear {
    float: left;
    clear: both;
}
footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px 0px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    background: #111;
}
footer .container .sec {
    margin-right: 30px;
}
footer .container .sec.aboutus {
    width: 40%;
}
footer .container h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .container h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
footer p {
    color: #999;
}
.sci {
    margin-top: 20px;
    display: flex;
}
.sci span {
    margin-right: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fff;
}
.sci li {
    list-style: none;
}
.sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    color: white;
}
.sci li a:hover {
    background: #f00;
}
.quickLinks {
    position: relative;
    width: 25%;
}
.quickLinks ul li {
    list-style: none;
}
.quickLinks ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.quickLinks ul li a:hover {
    color: #fff;
}
.contact {
    width: calc(35% - 60px);
    margin-right: 0 !important;
}
.contact .info {
    position: relative;
}
.contact .info li {
    display: flex;
    margin-bottom: 16px;
}
.contact .info li span:nth-child(1),
.contact .info li p span{
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span {
    color: #999;
}
.contact .info li a {
    color: #999;
    text-decoration: none;
    margin-right: 7px;
}
.contact .info li a:hover {
    color: #fff;
}
.copyrightText {
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}

@media screen and (max-width:768px){
    footer {
        padding: 40px;
    }
    footer .container {
        flex-direction: column;
    }
    footer .container .sec {
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .container .sec.aboutus,
    .quickLinks,
    .contact {
        width: 100%;
    }
    .copyrightText {
        padding: 8px 40px;
    }
}
/*****************************************/
.clear {
	clear: both;
}
.btn_open {
	position: relative;
	top: 50%;
	left: 50%;
    width: 2080px;
    background-color: ivory;
    margin-left: -1040px;
}
.btn_open p {
    text-align: center;
    font-size: 30px;
}
.btn_open:hover {

    background-color: gray;
    cursor: pointer;
}
A:link {
	text-decoration:none;
	color: white;
}
A:visited {
	text-decoration:none;
	color: white;
}
A:active {
	text-decoration:none;
	color: white;
}
A:hover {
	text-decoration:none;
	color: white;
}